footer {
    font-family: 'Bitter', serif;
    background-color: #F8F4E5;
    color: #008080;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin: 0;
    padding: 0.5rem 0;
    bottom: 0;


}
